/* font.module.css */
@font-face {
  font-family: 'LineSeedTH';
  src: url('/assets/font/LINESeedSansTH_W_Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LineSeedTH';
  src: url('/assets/font/LINESeedSansTH_W_Bd.woff2') format('woff2'); 
  font-weight: bold; 
  font-style: normal;
}

@font-face {
  font-family: 'LineSeedTH';
  src: url('/assets/font/LINESeedSansTH_W_Th.woff2') format('woff2'); 
  font-weight: 100; 
  font-style: normal;
}

@font-face {
  font-family: 'LineSeedTH';
  src: url('/assets/font/LINESeedSansTH_W_Bd.woff2') format('woff2'); 
  font-weight: 800; 
  font-style: normal;
}

.newfont {
  font-family: 'LineSeedTH' !important;
}

.blue_viriyha {
  background-color: #1e4594 !important;
}
